# LaTeX Build Artifacts
LaTeX_FMIPA_UNTAN_\[ID\]/main.synctex.gz
LaTeX_FMIPA_UNTAN_\[ID\]/main.pdf
LaTeX_FMIPA_UNTAN_\[EN\]/main.synctex.gz
LaTeX_FMIPA_UNTAN_\[EN\]/main.pdf
LaTeX_FMIPA_UNTAN_ID/main.synctex.gz
LaTeX_FMIPA_UNTAN_ID/main.pdf
LaTeX_FMIPA_UNTAN_EN/main.synctex.gz
LaTeX_FMIPA_UNTAN_EN/main.pdf